.pinterest_footer_logo{
    margin-top: 1rem; font-family: 'Fasthand', cursive;
}
.pinterest_footer_button{
    font-size: .9rem;
}
.pinterest_footer{
    text-align:center; margin-top: 2rem;
}
.pinterest_header_logo{
    text-align:center; margin-top: 2rem; font-family: 'Fasthand', cursive;
}
.pinterest_header{
    text-align:center; margin: 2rem 0;
}